<!--{% if latest_question_list %}-->
<!--<ul>-->
<!--    {% for question in latest_question_list %}-->
<!--    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<p>No polls are available.</p>-->
<!--{% endif %}-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wallpaper</title>
</head>
<body>

{% if errors %}
<p>Something went wrong...</p>
{% endif %}

{% load static %}


{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>


{% if wallpaper_created %}
<p>Wallpaper is here!</p>
<img src="{{ wallpaper_path }}" alt="Wallpaper Image"/>
{% endif %}

{% endblock %}

</body>
</html>