<!--{% if latest_question_list %}-->
<!--<ul>-->
<!--    {% for question in latest_question_list %}-->
<!--    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<p>No polls are available.</p>-->
<!--{% endif %}-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wallpaper</title>
</head>
<body>

{% load static %}

<p>Upload image</p>

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="uploaded_image">
    <button type="submit">Upload</button>
</form>

{% if wallpaper_created %}
<p>Wallpaper is here!</p>
<p>{{ wallpaper_path }}</p>
<img src="{{ wallpaper_path }}" alt="Wallpaper Image"/>
{% endif %}

{% endblock %}

</body>
</html>