{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-centered">
        <img src="{{ url_for('static', filename='images/example.png') }}" alt="Demonstration Image"
             class="img-fluid center"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-centered">
        <form method="post" enctype="multipart/form-data" class="text-white">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.resolution.label }}
                {{ form.resolution(class_='form-control') }}
            </div>
            {{ form.submit(class_='form-control') }}
        </form>
    </div>
</div>
{% endblock %}
