<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wallpaper</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="text-center">

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
        <div class="col-md-6 alert alert-danger col-centered" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-6 col-centered">
            <img src="{{ url_for('static', filename='images/example.png') }}" alt="Demonstration Image"
                 class="img-fluid center"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-centered">
            <form method="post" enctype="multipart/form-data" class="text-white">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.resolution.label }}
                    {{ form.resolution(class_='form-control') }}
                </div>
                {{ form.submit(class_='form-control') }}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-centered">
            {% if wallpaper_path %}
            <br>
            <img src="{{ wallpaper_path }}" alt="Wallpaper Image" class="img-fluid center"/>
            {% endif %}
        </div>
    </div>
</div>

</body>

</html>
